@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
                
.container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.tarjetaPokemon{
    font-family: 'Pokemon Solid', sans-serif;
    font-weight:bolder     ;                
    border: 1px solid black;
    border-radius: 15px;
    width: 250px;
    background-color: rgb(184, 184, 11);
    display: flex;
    flex-direction: column;
    height: 350px;
    transform: scale(1); /* Escala inicial del texto */
    transition: transform 0.4s ease; /* Transición de transformación durante 0.5 segundos con efecto ease (suavizado) */
}

.tarjetaPokemon:hover{
    transform: scale(1.1); /* Escalar el texto al 150% de su tamaño original */
}

.contenedorImg{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(189, 179, 179, 0.192);
    border-radius: 50%; 
    background-color: rgba(247, 247, 247, 0.452);
    width: 130px;
    height: 130px;
    position: relative;
    top: -30px;
    left: 25%;
}
.img{
    height: 200px;
    width: 200px;

}
.span{
    background-color: rgba(247, 247, 247, 0.452);
    height: 30px;
    width: 30px;
    margin: 0 auto;
}
.text{
    display: flex;
    justify-content: space-evenly;
    color: black; /* Color del texto negro para un buen contraste */
    font-family: 'Press Start 2P', cursive; /* Tipo de letra Press Start 2P para un estilo retro */
    font-size: 12px; /* Tamaño de fuente adecuado */
}

.ul{
    
    list-style-type: none;
}

